---
title: Event template page
content_type: circles
templatized: true
---
{% extends parent %}
{% block main %}

<div class="gradiente">  </div> 
<section class="page">
	{% include sticky %}
	  <div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <ul class="sbmenu">
      {% for circle in contents.circles %}
      <li><a href="/prizes/{{ circle._slug }}" class="active slug" data-name="{{ circle._slug }}">{{circle.name}}</a></li>
      {% endfor %}
    </ul>
    <hr class="rdsor" />
  </div>
</div>
	
		<section class="row">
     		<h1 class="main-title prizes">{{circle.name}}</h1>
 			<h2 class="subtitle prizes">PRESENTED BY <a href="{{circle.entry_link_url}}"><span>{{ circle.present_by }}</span></a></h2>
 				<div class="large-offset-2 large-8 medium-offset-0 large-8 columns">
 				<div class="description-text">
 					{{ circle.intro }}
 				</div>
 			</div>
 			<div class="large-12 columns">
				<div class="medal">
			      	<div class="medal-left"></div>
			      	<div class="medal-center">
			      		GRAND PRIZE
			      	</div>
			      	<div class="medal-right"></div>
			     </div>
		    </div>

		    <div class="large-12 columns">
		    	<div class="row">
		    		{% assign total_judges = circle.grand_prizes.size %}
					{% assign offs = 0 %}
					{% for gprizes in circle.grand_prizes %}
					{% if total_judges >= 4 %}
						{% assign total_grid = 4 %}
					{% elsif total_judges >= 3 %}
						{% assign total_grid = 3 %}
					{% elsif total_judges >= 2 %}
						{% assign total_grid = 2 %}
					{% elsif total_judges >= 1 %}
						{% assign total_grid = 1 %}
					{% endif %}
					{% if total_judges > 0 %}
						<ul class="large-block-grid-{{total_grid}} columns margin-section-prize">
							{% for gprizes in circle.grand_prizes limit:{{total_grid}} offset:{{offs}} %}
							  	<li class="section-prize">
								  <div class="section-img">
								  	<img src="{{ gprizes.icon.url }}" class="img-prz" alt="Global" />
								  	<h3 class="prize-title">{{gprizes.heading}}</h3>
								  	<p class="prize-text">
				    					{{gprizes.copy}}
				    				</p>
								  </div>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
					{% assign total_judges = total_judges | minus:total_grid %}
					{% assign offs = total_grid %}
					{% endfor %}
			    </div>
		    </div>
		    <div class="large-12 columns">
				<div class="medal">
			      	<div class="medal-left"></div>
			      	<div class="medal-center">
			      		2ND & 3RD PRIZE
			      	</div>
			      	<div class="medal-right"></div>
			     </div>
		    </div>
		     <div class="large-12 columns">
		    	<div class="row">
		    		{% assign total_judges = circle.secondary_prizes.size %}
					{% assign offs = 0 %}
					{% for sprizes in circle.secondary_prizes %}
					{% if total_judges >= 4 %}
						{% assign total_grid = 4 %}
					{% elsif total_judges >= 3 %}
						{% assign total_grid = 3 %}
					{% elsif total_judges >= 2 %}
						{% assign total_grid = 2 %}
					{% elsif total_judges >= 1 %}
						{% assign total_grid = 1 %}
					{% endif %}
					{% if total_judges > 0 %}
						<ul class="large-block-grid-{{total_grid}} columns margin-section-prize">
							{% for sprizes in circle.secondary_prizes limit:{{total_grid}} offset:{{offs}} %}
							  	<li class="section-prize">
								  <div class="section-img">
								  	<img src="{{ sprizes.icon.url }}" class="img-prz" alt="Global" />
								  	<h3 class="prize-title">{{sprizes.heading}}</h3>
								  	<p class="prize-text">
				    					{{sprizes.copy}}
				    				</p>
								  </div>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
					{% assign total_judges = total_judges | minus:total_grid %}
					{% assign offs = total_grid %}
					{% endfor %}
			    </div>
		    </div>
		    <div class="large-12 columns">
		    	<div class="row">
		    		<h3 class="title-bottom-prize">PRIZES PIQUED YOUR INTERESTED? <a href="{{circle.enter_circle_url}}" class="redref"><span class="red">JOIN THE BATTLE</span></a></h3>
		    	</div>
		    </div>
      </section>
      

 

</section>

{% endblock %}
