---
title: FAQ Organizer facilitator

# true if the page is included in the menu
#listed: true

# true if the page is published
published: true

# position among sibling pages
#position: 5

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends parent %}

{% block main %}
<div class="gradiente">  </div>
<section class="page">
	{% include sticky %}

<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <ul class="sbmenu">
      
      <li><a href="/intel" >FAQ ATTENDEES</a></li>
      <li class="special-limenu "><a class="active" href="/intel/faq-organizer-facilitator">FAQ ORGANIZER/FACILITATOR</a><div class="triangulo_sup"></div></li>
      <li><a href="/intel/hashtag-battle">HASHTAG BATTLE</a></li>
      <li><a href="/intel/chat-room">CHAT<br /> ROOM</a></li>
    </ul>
    <hr class="rdsor" />
  </div>
</div>


	<section class="row">
		<div class="large-7 medium-6 columns">
			{% editable_text title-intel %}
	      	<h1 class="main-title intel">FACILITATOR/ORGANIZER FAQ.</h1>
	 		{% endeditable_text %}
	 		<div id="section-questions">
	 			{% for faqorganizer in contents.faqorganizers %}
	 			<div class="question">
	 				<div class="red-square">+</div>
	 				<div class="question-text">
	 					{{faqorganizer.question}}
	 				</div>
	 				<p class="intel-description">{{faqorganizer.answer}}</p>
	 			</div>
	 			{% endfor %}
	 		</div>
	 	</div>
	 	<div class="large-5 medium-6 columns">
	     	<div class="line-gray intel"></div>
	     	<div class="content-links">
		     	<h2 class="title-intel">OTHER HELPFUL LINKS</h2>

		     	<ul class="list-intel">
		     		<li>
		     			{% for circle in contents.circles limit:1 %}
		     				<a href="/enter/{{ circle._slug }}/#elegibility"  class="redref">Champion's Circle Eligibility</a>
		     			{% endfor %}
		     		</li>
		     		<li>
		     			{% for circle in contents.circles limit:1 %}
		     				<a href="/enter/{{ circle._slug }}/#rules"  class="redref">Champion's Circle Rules</a>
		     			{% endfor %}
		     		</li>
		     		<li>
		     			{% for circle in contents.circles limit:1 %}
		     				<a href="/enter/{{ circle._slug }}/#resourses"  class="redref">Champion's Circle Resources</a>
		     			{% endfor %}
		     		</li>
		     	</ul>

		     	<ul class="list-intel">
		     		<li>
		     			{% for circle in contents.circles limit:1 offset:1 %}
		     			<a href="/enter/{{ circle._slug }}/#elegibility"  class="redref">Women's Circle Eligibility </a>
		     			{% endfor %}
		     		</li>
		     		<li>
		     			{% for circle in contents.circles limit:1 offset:1 %}
		     			<a href="/enter/{{ circle._slug }}/#rules" class="redref">Women's Circle Rules</a>
		     			{% endfor %}
		     		</li>
		     		<li>
		     			{% for circle in contents.circles limit:1 offset:1 %}
		     			<a href="/enter/{{ circle._slug }}/#resourses"  class="redref">Women's Circle Resources</a>
		     			{% endfor %}
		     		</li>
		     	</ul>

		     	<ul class="list-intel">
		     		<li>
		     			{% for circle in contents.circles limit:1 offset:2 %}
		     			<a href="/enter/{{ circle._slug }}/#elegibility" class="redref">Cloud Circle Eligibility</a>
		     			{%endfor%}
		     		</li>
		     		<li>
		     			{% for circle in contents.circles limit:1 offset:2 %}
		     			<a href="/enter/{{ circle._slug }}/#rules" class="redref">Cloud Circle Rules</a>
		     			{%endfor%}
		     		</li>
		     		<li>
		     			{% for circle in contents.circles limit:1 offset:2 %}
		     			<a href="/enter/{{ circle._slug }}/#resourses" class="redref">Cloud Circle Resources</a>
		     			{% endfor %}
		     		</li>
		     	</ul>

		     	<ul class="list-intel">
		     		<li>
		     			{% for circle in contents.circles limit:1 offset:3 %}
		     			<a href="/enter/{{ circle._slug }}/#elegibility"  class="redref">Domain Circle Eligibility</a>
		     			{%endfor%}
		     		</li>
		     		<li>
		     			{% for circle in contents.circles limit:1 offset:3 %}
		     			<a href="/enter/{{ circle._slug }}/#rules"  class="redref">Domain Circle Rules</a>
		     			{%endfor%}
		     		</li>
		     		<li>
		     			{% for circle in contents.circles limit:1 offset:3 %}
		     			<a href="/enter/{{ circle._slug }}/#resourses"  class="redref">Domain Circle Resources</a>
		     			{%endfor%}
		     		</li>
		     	</ul>
		     	 <div class="not-find">
			     	<p>
			     		CAN'T FIND YOUR QUESTION? <a  class="redref" href="/contact"> CONTACT US. </a>
			     	</p>
			     </div>
		     </div>

	     </div>
      </section>
      

</section>

{% endblock %}
