---
title: Cities
published: true
listed: true
position : 1
---

{% extends parent %}

{% block 'main' %}
<div class="gradiente">  </div>
<section class="page">
{% include sticky %}
    <section class="row">
    {% editable_text title-cities %}
      <h1 class="main-title">Participate with thousands of entrepreneurs across the globe <br/>
        During two of the most innovative weekends in November</h1>
    {% endeditable_text %}
      </section>
      
      <div class="row slct-content">
        <div class="large-offset-2 large-10"> 
          <div class="select">
            <p>City Search:</p>
            <select name="sasa" id="city" class="chosen-select" onchange="window.open(this.options[this.selectedIndex].value,'_blank','');">
              <option value="" class="center">Type city name</option>
              {% for event in contents.events %}
                  <option value="{{event.url}}" class="center">{{ event.city }}</option>
                  {% assign date_show = '' %}
              {% endfor %}
            </select>
          </div>
          <div class="select">
            <p>Filter by:</p>
            <select name="sasa  " id="country" class="chosen-select">
              <option value="" class="center">Select a region</option>
                {% for region in contents.regions %}
                  <option value="{{region.acronym}}" class="center">{{ region.country }}</option>
                {% endfor %}
            </select>
          </div>
          <div class="select">
            <p><br /></p>
            <select name="sasa" id="date" class="chosen-select">
              <option value="1">Select a weekend</option>
                {% for event in contents.events %}
                      <option value="{{event.date || localized_date: '%d/%m/%Y'}}">{{ event.date || localized_date: '%d/%m/%Y' }}</option>
                      {% assign date_show = event.date %}
                {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="row m-btm" data-name="us">
        <div class="large-offset-2 large-8 columns">
          <div class=" cty-ttl">  
            <div class="sprites usa"></div> <div class="ctn-txt">UNITED STATES</div>
          </div>
          <ul class="lst-style">
           {% with_scope region: 'United States' %}
              {% assign count = '1' %}
                {% for event in contents.events %}
                  <li class="cty-ft" data-name="{{ event.city }}" style="width: 33%;padding-top: 20px;float:left;">
                    <a class="cty-url" href="{{event.url}}" target="_blank">
                      {{ event.city }}
                    </a>
                    <input class="cty-date" type="hidden" value="{{event.date || localized_date: '%d/%m/%Y'}}">
                  </li>
                {% endfor %}
            {% endwith_scope %}
            </ul>
        </div> 
      </div>
      <div class="row m-btm" data-name="eur"> 
        <div class="large-offset-2 large-8 columns">
          <div class=" cty-ttl">  
            <div class="sprites europe"></div> <div class="ctn-txt">EUROPE</div>
          </div>
          <ul class="lst-style">
          {% with_scope region: 'Europe' %}
           {% assign count = '1' %}
                {% for event in contents.events %}
                  <li class="cty-ft" data-name="{{ event.city }}" style="width: 33%;padding-top: 20px;float:left;">
                    <a class="cty-url" href="{{event.url}}" target="_blank">
                      {{ event.city }}
                    </a>
                    <input class="cty-date" type="hidden" value="{{event.date || localized_date: '%d/%m/%Y'}}">
                  </li>
                {% endfor %}
            {% endwith_scope %}
          </ul>
        </div>
      </div>
      <div class="row m-btm" data-name="aus"> 
        <div class="large-offset-2 large-8 columns">
          <div class=" cty-ttl"> 
            <div class="sprites aus"></div> <div class="ctn-txt">AUSTRALIA AND NEW ZEALAND</div> 
          </div>
          <ul class="lst-style">
          {% with_scope region: 'Australia & New Zealand' %}
            {% assign count = '1' %}
                {% for event in contents.events %}
                  <li class="cty-ft" data-name="{{ event.city }}" style="width: 33%;padding-top: 20px;float:left;">
                    <a class="cty-url" href="{{event.url}}" target="_blank">
                      {{ event.city }}
                    </a>
                    <input class="cty-date" type="hidden" value="{{event.date || localized_date: '%d/%m/%Y'}}">
                  </li>
                {% endfor %}
            {% endwith_scope %}
          </ul>
        </div>
      </div>
      <div class="row m-btm" data-name="rus"> 
        <div class="large-offset-2 large-8 columns">
          <div class=" cty-ttl">  
            <div class="sprites rus"></div> <div class="ctn-txt">RUSSIA</div> 
          </div>
          <ul class="lst-style">
          {% with_scope region: 'Russia' %}
            {% assign count = '1' %}
                {% for event in contents.events %}
                  <li class="cty-ft" data-name="{{ event.city }}" style="width: 33%;padding-top: 20px;float:left;">
                    <a class="cty-url" href="{{event.url}}" target="_blank">
                      {{ event.city }}
                    </a>
                    <input class="cty-date" type="hidden" value="{{event.date || localized_date: '%d/%m/%Y'}}">
                  </li>
                {% endfor %}
            {% endwith_scope %}
          </ul>
        </div>
      </div>
      <div class="row m-btm" data-name="as"> 
        <div class="large-offset-2 large-8 columns">
          <div class=" cty-ttl">  
            <div class="sprites asia"></div> <div class="ctn-txt" data-name="as">ASIA</div> 
          </div>
          <ul class="lst-style">
            {% with_scope region: 'Asia' %}
            {% assign count = '1' %}
                {% for event in contents.events %}
                  <li class="cty-ft" data-name="{{ event.city }}" style="width: 33%;padding-top: 20px;float:left;">
                    <a class="cty-url" href="{{event.url}}" target="_blank">
                      {{ event.city }}
                    </a>
                    <input class="cty-date" type="hidden" value="{{event.date || localized_date: '%d/%m/%Y'}}">
                  </li>
                {% endfor %}
            {% endwith_scope %}
          </ul>
        </div>
      </div>

      <div class="row m-btm" data-name="can"> 
        <div class="large-offset-2 large-8 columns">
          <div class=" cty-ttl">  
            <div class="sprites canada"></div> <div class="ctn-txt" data-name="as">CANADA</div> 
          </div>
          <ul class="lst-style">
            {% with_scope region: 'Canada' %}
            {% assign count = '1' %}
                {% for event in contents.events %}
                  <li class="cty-ft" data-name="{{ event.city }}" style="width: 33%;padding-top: 20px;float:left;">
                    <a class="cty-url" href="{{event.url}}" target="_blank">
                      {{ event.city }}
                    </a>
                    <input class="cty-date" type="hidden" value="{{event.date || localized_date: '%d/%m/%Y'}}">
                  </li>
                {% endfor %}
            {% endwith_scope %}
          </ul>
        </div>
      </div>
 
      <div class="row m-btm" data-name="lac"> 
        <div class="large-offset-2 large-8 columns">
          <div class=" cty-ttl">  
            <div class="sprites lat"></div> <div class="ctn-txt" data-name="as">LATIN AMERICA & THE CARIBBEAN</div> 
          </div>
          <ul class="lst-style">
            {% with_scope region: 'Latin America & The Caribbean' %}
            {% assign count = '1' %}
                {% for event in contents.events %}
                  <li class="cty-ft" data-name="{{ event.city }}" style="width: 33%;padding-top: 20px;float:left;">
                    <a class="cty-url" href="{{event.url}}" target="_blank">
                      {{ event.city }}
                    </a>
                    <input class="cty-date" type="hidden" value="{{event.date || localized_date: '%d/%m/%Y'}}">
                  </li>
                {% endfor %}
            {% endwith_scope %}
          </ul>
        </div>
      </div>

      <div class="row m-btm" data-name="mena"> 
        <div class="large-offset-2 large-8 columns">
          <div class=" cty-ttl">  
            <div class="sprites sout"></div> <div class="ctn-txt" data-name="as">MIDDLE EAST & NORTH AFRICA</div>
          </div>
          <ul class="lst-style">
            {% with_scope region: 'Middle East & North Africa' %}
            {% assign count = '1' %}
                {% for event in contents.events %}
                  <li class="cty-ft" data-name="{{ event.city }}" style="width: 33%;padding-top: 20px;float:left;">
                    <a class="cty-url" href="{{event.url}}" target="_blank">
                      {{ event.city }}
                    </a>
                    <input class="cty-date" type="hidden" value="{{event.date || localized_date: '%d/%m/%Y'}}">
                  </li>
                {% endfor %}
            {% endwith_scope %}
          </ul>
        </div>
      </div>

      <div class="row m-btm" data-name="ssa"> 
        <div class="large-offset-2 large-8 columns">
          <div class=" cty-ttl">  
            <div class="sprites afr"></div> <div class="ctn-txt" data-name="as">SUB-SAHARAN AFRICA</div> 
          </div>
          <ul class="lst-style">
            {% with_scope region: 'Sub-Saharan Africa' %}
            {% assign count = '1' %}
                {% for event in contents.events %}
                  <li class="cty-ft" data-name="{{ event.city }}" style="width: 33%;padding-top: 20px;float:left;">
                    <a class="cty-url" href="{{event.url}}" target="_blank">
                      {{ event.city }}
                    </a>
                    <input class="cty-date" type="hidden" value="{{event.date || localized_date: '%d/%m/%Y'}}">
                  </li>
                {% endfor %}
            {% endwith_scope %}
          </ul>
        </div>
      </div>
</section>
{% endblock %}
