---
title: Home page
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 0
---
<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Global Startup Battle</title>
  {{ '../fonts/all' | stylesheet_tag }}
  {{ 'application.css' | stylesheet_tag }}
  {{ '../javascripts/source/jquery.fancybox.css' | stylesheet_tag }}

</head>
<body>
  {% include header %}
{% block 'main' %}
<section class="page-main">
<div class="content-slider">
<div class="gradient">  </div>
  <!-- <div class='row'> -->
    <!-- <div <div class="large-12 medium-12 small-12 columns"> -->
      <div class="banner">
          <ul class='mayus bebas'>
              <li class="slide1">
        {% editable_text slide-1 %}
          <p>thousands of entrepreneurs across the globe have joined the battle for innovation. </p>
          <h2>Have you?</h2>
        {% endeditable_text %}
        <a class="btn mayus" href="#download">Enter the batle</a>
      </li>
      <li class="slide2">
        {% editable_text slide-2 %}
          <p>Conquer the battle for innovation and win the flights, mentorship, & intros to launch your startup</p>
          <h2>Ready to win 500k in prizes?</h2>
        {% endeditable_text %}
      </li>
      <li class="slide3">
        {% editable_text slide-3 %}
          <p class='mayus'>Thousands of entrepreneurs across the globe have joined the battle for innovation.</p>
          <h2>New to GSB?</h2>
        {% endeditable_text %}
        <a class="btn various fancybox.iframe" href="http://www.youtube.com/v/ZeStnz5c2GI?fs=1&amp;autoplay=1&amp;wmode=transparent">Watch the video</a>
      </li>
          </ul>
      </div>
      <div class="arrows"></div>
    <!-- </div> -->
  <!-- </div> -->
</div>
<div id="menu-second">
  <div class="row">
    <div class="large-offset-2 large-12 medium-offset-0 medium-12 small-12 columns ctm-m">
    <div>
    <a href="/cities" class="fanc">
      <div class="sprites-social pin"></div><p> FIND EVENT</p>
    </a>
    </div>
    <div class="smenus">
      <a class="btn various fancybox.iframe" href="http://www.youtube.com/v/ZeStnz5c2GI?fs=1&amp;autoplay=1&amp;wmode=transparent"><div class="sprites-social playvideo"></div>WATCH VIDEO</a>
   </div>
   <div class="smenus">
      <a href="#">
        <div class="sprites-social share"></div> SHARE THIS
      </a>
   </div>
             
    </div>
  </div>
  <div class="top-ctn">
    <div class="sprites-social top"></div>
    TOP
  </div>
</div>
<div class="row">
  <div class=" medium-12 large-12 columns">
    <div class="row">
      <div class="large-offset-2 large-8  medium-offset-1  medium-10 small-12 columns txt-title">
        {% editable_text subtitle-seccion-2 %}
        <h2 class="subtitle size-35">
          Join thousands of entrepreneurs across the globe for two of the most innovative weekends in November
        </h2>
        {% endeditable_text %}
        </div>
      </div>
      <div class="row">
        <div class="large-4 medium-4 small-12 columns">
          <div class='center'>  
            <div class=" sprites-stats  glbl"></div>
          </div>
          {% editable_text collaborate %}
          <div class='center'>
            <p class="bebas size-35 sbtxt">
              COLLABORATE
            </p>
          </div>
          <div>
            <p class='size-15 txts'>
              Global Startup Battle is back bigger than ever and is bringing the global entrepreneur community together from <span class='bold'>100s of cities around the world</span> for a competitive week of collaboration and learning. Are you ready to innovate?
            </p>
          </div>
          {% endeditable_text %}
        </div>
        <div class="large-4 medium-4 small-12 columns">
          <div class ='center'>
            <div class=" sprites-stats  idea"></div>
          </div>
          {% editable_text compete %}
          <div class ='center'>
            <p class="bebas size-35 sbtxt">
              COMPETE
            </p>
          </div>
          <div>
            <p class='size-15 txts'>
              More is at stake in this year's GSB with more opportunities to win even bigger prizes. Compete in multiple <span class='bold'>circle competitions</span> and take your team to the top to show off your innovations to our celebrity judges.
            </p>
          </div>
          {% endeditable_text %}
        </div>
        <div class="large-4 medium-4 small-12 columns">
          <div class='center'>
            <div class=" sprites-stats  tools"></div>
          </div>
          {% editable_text communicate %}
          <div class='center'>
            <p class="bebas size-35 sbtxt">
              Communicate
            </p>
          </div>
          <div>
            <p class='size-15 txts'>
              The battle is more heated with the <span class='bold'>Communications Dashboard</span> making it easier than ever to keep track of all the action and keep in touch with other GSB collaborators. Watch, share, and discuss as hashtag battles unfold simultaneously.
            </p>
          </div>
          {% endeditable_text %}
        </div>
      </div>
    </div>
  </div>
 {% include events %}
 <div class="bg-lgray">
  <div class="row">
    <div class=" medium-12 large-12 columns">
      <div class="row">
        <div class="large-offset-2 large-8  medium-offset-1  medium-10 small-12 columns txt-title">
          {% editable_text subtitle-seccion-4 %}
          <h2 class=" size-60">The Battle at a Glance</h2>
          {% endeditable_text %}
        </div>
      </div>
      <div class="row">
        <div class="large-4 medium-4 small-12 columns">
          <div class='center circle'> 
            <div class=" sprites-stats  price"></div>
          </div>
          <div class='center '>
            <p class="bebas size-35 sbtxtt">
              IN PRIZES
            </p>
          </div>
          <div>
            {% editable_text prizes %}
            <p class=' txtss'>            
              500K
            </p>
            {% endeditable_text %}
          </div>
        </div>
        <div class="large-4 medium-4 small-12 columns">
          <div class ='center circle'>
            <div class=" sprites-stats  ideaa"></div>
          </div>
          <div class ='center'>
            <p class="bebas size-35 sbtxtt">
              PARTICIPANTS
            </p>
          </div>
          <div>
            {% editable_text participants %}
            <p class='txtss'>
              20K
            </p>
            {% endeditable_text %}
          </div>
        </div>
        <div class="large-4 medium-4 small-12 columns">
          <div class='center circle'>

            <div class=" sprites-stats  stats"></div>

          </div>
          <div class='center'>
            <p class="bebas size-35 sbtxtt">
              CITIES
            </p>
          </div>
          <div>
            {% editable_text cities %}
            <p class='txtss'>
              120
            </p>
            {% endeditable_text %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 medium-offset-0 medium-12 small-12 columns">

<div class="logos-fblk">
  <img src="{{ 'google.png' | theme_image_url }}" alt="Google Entrepreneurs" />
 <img src="{{ 'coca-cola.png' | theme_image_url }}" alt="Coca Cola" />
  <img src="{{ 'amazon.png' | theme_image_url }}" alt="Amazon" /> 
</div>

</div>  
</div>
<div class="row">
<div class=" large-12 medium-offset-0 medium-12 small-12 columns">
<div class="logos-sblk">
 <img src="{{ 'co.png' | theme_image_url }}" alt="StartUp Battle" />
  <img src="{{ 'microsoft.png' | theme_image_url }}" alt="StartUp Battle" />
  <img src="{{ 'bigcommerce.png' | theme_image_url }}" alt="StartUp Battle" />
 <img src="{{ 'sprint.png' | theme_image_url }}" alt="StartUp Battle" />
 </div>
 </div>
 </div>

</section>
 {% endblock %}
 

  {% include footer %}

  {{ 'custom.modernizr.js' | javascript_tag }}
  {{ 'zepto.js' | javascript_tag }}
  {{ 'foundation/foundation.js' | javascript_tag }}
  {{ 'jquery' | javascript_tag }}
  {{ 'unslider.min' | javascript_tag }}
  {{ 'source/jquery.fancybox' | javascript_tag }}
  {{ 'chosen.jquery' | javascript_tag }}
    {{ 'scripts' | javascript_tag }}

</body>
</html>
